---
title: Speakeasy - Minimal Mod Theme
---

.wrapper
  section
		header.intro
		  h2.main-title Not tricks, Michael, illusions.
		  p.center That's what it said on 'Ask Jeeves.' As you may or may not know, Lindsay and I have hit a bit of a rough patch. Did you enjoy your meal, Mom? You drank it fast enough.

.wrapper.slim
	section.bio
	  .bio-card.wrapper
		  img.bio-card-img.fourth src="http://placehold.it/100x100"

			.bio-card-text
			  p Across from where? Oh, you're gonna be in a coma, all right. That's why you always leave a note! But I bought a yearbook ad from you, doesn't that mean anything anymore? No! I was ashamed to be SEEN with you. I like being with you. Steve Holt!

			  = link_to 'Link out somewhere', '#'

	section.offerings
	  header.header-breaker
	    h3#what.section-title What do we do

	  ul.wrapper
		  li.half
		    p
		      strong
		        = link_to 'Offering 1', '#'
		      |  I care deeply for nature. Marry me. I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense.
		  li.half
		    p
		      strong.list-content
		        = link_to 'Offering 2', '#'
		      |  Across from where? I'm a monster. No! I was ashamed to be SEEN with you. I like being with you.
		  li.half
		    p
		      strong
		        = link_to 'Offering 3', '#'
		      |  I hear the jury's still out on science. Across from where? As you may or may not know, Lindsay and I have hit a bit of a rough patch.
		  li.half
		    p
		      strong
		        = link_to 'Offering 4', '#'
		      |  I care deeply for nature. Marry me. I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense.

	figure.image
	  img src="http://placehold.it/700x400"
	  figcaption I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense. Did you enjoy your meal, Mom? You drank it fast enough.

	section.process
	  header.header-breaker
	    h3#how.section-title How we do that thing we do

	  p No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide. I've opened a door here that I regret. That's why you always leave a note! Whoa, this guy's straight? As you may or may not know, Lindsay and I have hit a bit of a rough patch.

	  p But I bought a yearbook ad from you, doesn't that mean anything anymore? Michael! Marry me:

	  ul.list-content
	    li
	      p Really? Did nothing cancel? Guy's a pro.
	    li
	      p Say goodbye to these, because it's the last time!
	    li
	      p I don't understand the question, and I won't respond to it.
	    li
	      p Oh, you're gonna be in a coma, all right.

.full-width.dark
  section.wrapper
    header
	    h2#news.secondary-title Read our amazing, stupendous newsletter
	    p.small-txt
	      em But I bought a yearbook ad from you, doesn't that mean anything anymore? No! I was ashamed to be SEEN with you.

    form
			label for="name" Name/Moniker
			input id="name" type="text" name="name"

			label for="email" Email
			input id="email" type="text" name="email"

			button.btn type="submit" Submit
